.header{
    background-image: url(../../public/sfjqJDmNqMIImO5khiddb9TARvO.jpg);
    height:70vh;
    background-repeat: no-repeat;
    background-size:cover ;
    margin-top: 4% !important;
}

.h1{
    font-style: italic;
    font-weight: 400 !important;
}
.form{
    margin-top: 10%;
}

.input{
    position: relative;
    border-radius: 15px !important;
    width: 90% !important;
    
}

.Search {
    position:absolute;
    margin-left: 76.4%;
    padding-right: 10px !important;
    background-color: rgb(1, 190, 231) !important;
    color:white !important;
    border-radius: 18px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 7px !important;

    
}

