


.card {
    border-radius: 1% !important;    
    height: 70% !important;
}
.cont{
    margin-top: 5% !important;
}
.imgs
{
    width: 100%;
    height: 200px !important;
}
.h5{
    width: fit-content;
}

.link{
    margin-top: -100px !important;
    margin-bottom: 30px;
    margin-left: 15px;
}
