body {
  margin: 0;
padding: 0;
    background-image:linear-gradient(80deg,red,black,red,black,red,black,red,black,red ,black)  !important;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', Arial, sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
